@*Resource for tag helpers:*@
@*https://www.learnrazorpages.com/razor-pages/tag-helpers/*@

@*needed for passing the list from the controller*@
@model IEnumerable<Instructor>
@*model needs to be all lower case here; capitalized when used below*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Instructors List</title>
</head>
<body>
    <h1>List of Instructors</h1>
    @if (Model.Count() <= 0)
    {
        <h2>There are no instructors in the list.</h2>
    }
    else
    {
        <table class="table table-hover table-dark w-75">
            <thead>
                <tr>
                    @*The label tags (tag helpers) go along with the Display Data Annotations in the Instructor.cs model*@

                    @*First() for first in list*@
                    <th><label asp-for="First().FirstName"></label></th>
                    <th><label asp-for="First().LastName"></label></th>
                    <th><label asp-for="First().HireDate"></label></th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @*Model needs to be capitalized here; all lower case at the top of the file*@
                @foreach(var instr in Model){
                <tr>
                    <td>@instr.FirstName</td>
                    <td>@instr.LastName</td>

                    @*displays date WITH time*@
                    @*<td>@instr.HireDate</td>*@

                    @*displays date WITHOUT time*@
                    <td>@Html.DisplayFor(model => instr.HireDate)</td>

                    @*HTML helper example for link:*@
                    @*<td>@Html.ActionLink("Show Details", "ShowDetails", new {id = instr.InstructorId})</td>*@

                    @*Tag helper example for link:*@
                    <td><a asp-action="ShowDetails" asp-route-id="@instr.InstructorId">Show Details</a></td>
                        <td><a asp-action="Edit" asp-route-id="@instr.InstructorId">Edit Instructor</a></td>
                        <td><a asp-action="Delete" asp-route-id="@instr.InstructorId">Delete Instructor</a></td>
                </tr>
                }
            </tbody>
        </table>

        @*clicking the link will call the Add() action in the controller*@
        <a asp-action="Add">Add Instructor</a>
    }
</body>
</html>
