@model Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @if (Model != null)
    {
        <h1>Details of Instructor @Model.LastName</h1>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>ID: @Model.InstructorId</p>
        <p>Is Tenured? @Model.IsTenured</p>
        <p>Position: @Model.Position</p>
    }
    else{
        <h1>Instuctor not found</h1>
    }

    @*html helper*@
    @*@Html.ActionLink("Back to Index page", "Index")  *@

    @*tag helper*@
    <a asp-action="Index">Back to Index page</a>
</body>
</html>
