@model Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instructor Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    @if (Model != null)
    {
        <h3>Details of Instructor @Model.LastName</h3>
        <p><label asp-for="InstructorId"></label>: @Model.InstructorId</p>
        <p><label asp-for="FirstName"></label>: @Model.FirstName</p>
        <p><label asp-for="LastName"></label>: @Model.LastName</p>
        <p><label asp-for="IsTenured"></label>: @Model.IsTenured</p>
        <p><label asp-for="Position"></label>: @Model.Position</p>
        <p><label asp-for="HireDate"></label>: @Html.DisplayFor(model => Model.HireDate)</p>
        @*using only Model.HireDate would also display the time*@

        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.InstructorId">Delete Instructor</a> <br />
        <br>
        <hr />

        <h3>Bootstrap Card Example</h3>
        <div class="card bg-info" style="width:300px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="image placeholder" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
                <p>
                    <label asp-for="InstructorId"></label>: @Model.InstructorId <br>
                    <label asp-for="FirstName"></label>: @Model.FirstName <br>
                    <label asp-for="LastName"></label>: @Model.LastName <br>
                    <label asp-for="IsTenured"></label>: @Model.IsTenured <br>
                    <label asp-for="Position"></label>: @Model.Position <br>
                    <label asp-for="HireDate"></label>: @Html.DisplayFor(model => Model.HireDate)
                </p>
            </div>
        </div>
        <hr />
    }
    else
    {
        <h1>Instructor not found</h1>
    }

    @*html helper*@
    @*@Html.ActionLink("Back to Index page", "Index")*@

    @*tag helper*@
    <a type="button" class="btn btn-primary" asp-action="Index">Back to Index page</a>
</body>
</html>
