@model Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Details</title>
</head>
<body>
    

    @if (Model != null)
    {
        <h1>Details of Instructor @Model.LastName</h1>
        <p><label asp-for="InstructorId"></label>: @Model.InstructorId</p>
        <p><label asp-for="FirstName"></label>: @Model.FirstName</p>
        <p><label asp-for="LastName"></label>: @Model.LastName</p>
        <p><label asp-for="IsTenured"></label>: @Model.IsTenured</p>
        <p><label asp-for="Position"></label>: @Model.Position</p>
        <p><label asp-for="HireDate"></label>: @Model.HireDate</p>
    }
    else
    {
        <h1>Instructor not found</h1>
    }

    @*html helper*@
    @*@Html.ActionLink("Back to Index page", "Index")*@

    @*tag helper*@
    <a asp-action="Index">Back to Index page</a>
</body>
</html>
