@* - Views generate the user interface
   - Views are .cshtml markup files that contain both HTML and C#
   - Use the @ symbol to insert C# into HTML *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <h1>Displaying student information</h1>
    <p>First name: @ViewBag.SMU_student.FirstName</p>
    <p>Last name: @ViewBag.SMU_student.LastName</p>
    <p>GPA: @ViewBag.SMU_student.GPA</p>
    <p>Major: @ViewBag.SMU_student.Major</p>
    <p>Is veteran?: @ViewBag.SMU_student.IsVeteran</p>
</body>
</html>
